In [1]:
import pandas as pd
import numpy as np
wdi_df = pd.read_csv('/home/jake/world-bank/data_sheets/WDIData.csv')

In [2]:
short=wdi_df[wdi_df['Country Code'].isin(['JPN','BEN','POL','USA','BRA'])]
print(7870*10/14.9)

5281.879194630872

In [3]:
short.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7870 entries, 105458 to 399795
Data columns (total 63 columns):
Country Name      7870 non-null object
Country Code      7870 non-null object
Indicator Name    7870 non-null object
Indicator Code    7870 non-null object
1960              1105 non-null float64
1961              1212 non-null float64
1962              1278 non-null float64
1963              1289 non-null float64
1964              1294 non-null float64
1965              1332 non-null float64
1966              1308 non-null float64
1967              1336 non-null float64
1968              1321 non-null float64
1969              1353 non-null float64
1970              2226 non-null float64
1971              2368 non-null float64
1972              2481 non-null float64
1973              2460 non-null float64
1974              2511 non-null float64
1975              2619 non-null float64
1976              2646 non-null float64
1977              2685 non-null float64
1978              2673 non-null float64
1979              2706 non-null float64
1980              2803 non-null float64
1981              2754 non-null float64
1982              2805 non-null float64
1983              2767 non-null float64
1984              2826 non-null float64
1985              2848 non-null float64
1986              2869 non-null float64
1987              2873 non-null float64
1988              2885 non-null float64
1989              2912 non-null float64
1990              3544 non-null float64
1991              3649 non-null float64
1992              3728 non-null float64
1993              3697 non-null float64
1994              3795 non-null float64
1995              3942 non-null float64
1996              4048 non-null float64
1997              4055 non-null float64
1998              4173 non-null float64
1999              4219 non-null float64
2000              4550 non-null float64
2001              4539 non-null float64
2002              4615 non-null float64
2003              4579 non-null float64
2004              4677 non-null float64
2005              4849 non-null float64
2006              4844 non-null float64
2007              4870 non-null float64
2008              4901 non-null float64
2009              4973 non-null float64
2010              5063 non-null float64
2011              5049 non-null float64
2012              5024 non-null float64
2013              4969 non-null float64
2014              5009 non-null float64
2015              4381 non-null float64
2016              3388 non-null float64
2017              500 non-null float64
Unnamed: 62       0 non-null float64
dtypes: float64(59), object(4)
memory usage: 3.8+ MB

In [4]:
short.drop(['Country Code', 'Indicator Code','2017','Unnamed: 62'], axis=1, inplace=True)
short_reind=short.set_index(['Country Name', 'Indicator Name']).stack().unstack(1)

/home/jake/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [5]:
short_reind.count()

Indicator Name
2005 PPP conversion factor, GDP (LCU per international $)                                                                                         5
2005 PPP conversion factor, private consumption (LCU per international $)                                                                         5
ARI treatment (% of children under 5 taken to a health provider)                                                                                  8
Access to clean fuels and technologies for cooking  (% of population)                                                                            75
Access to electricity (% of population)                                                                                                         125
Access to electricity, rural (% of rural population)                                                                                            124
Access to electricity, urban (% of urban population)                                                                                            119
Account (% age 15+) [ts]                                                                                                                         10
Account at a financial institution (% age 15+)                                                                                                   10
Account at a financial institution, female (% age 15+)                                                                                           10
Account at a financial institution, income, poorest 40% (% ages 15+)                                                                             10
Account at a financial institution, income, richest 60% (% ages 15+)                                                                             10
Account at a financial institution, male (% age 15+)                                                                                             10
Account, female (% age 15+) [ts]                                                                                                                 10
Account, income, poorest 40% (% ages 15+) [ts]                                                                                                   10
Account, income, richest 60% (% ages 15+) [ts]                                                                                                   10
Account, male (% age 15+) [ts]                                                                                                                   10
Account, older adults (% ages 25+) [ts]                                                                                                          10
Account, primary education or less (% ages 15+) [ts]                                                                                              4
Account, secondary education or more (% ages 15+) [ts]                                                                                            4
Account, young adults (% ages 15-24) [ts]                                                                                                        10
Adequacy of social insurance programs (% of total welfare of beneficiary households)                                                             13
Adequacy of social protection and labor programs (% of total welfare of beneficiary households)                                                  13
Adequacy of social safety net programs (% of total welfare of beneficiary households)                                                            11
Adequacy of unemployment benefits and ALMP (% of total welfare of beneficiary households)                                                         8
Adjusted net enrollment rate, primary (% of primary school age children)                                                                         73
Adjusted net enrollment rate, primary, female (% of primary school age children)                                                                 52
Adjusted net enrollment rate, primary, male (% of primary school age children)                                                                   52
Adjusted net national income (annual % growth)                                                                                                  203
Adjusted net national income (constant 2010 US$)                                                                                                208
                                                                                                                                               ...
Urban land area where elevation is below 5 meters (sq. km)                                                                                       15
Urban population                                                                                                                                285
Urban population (% of total)                                                                                                                   285
Urban population growth (annual %)                                                                                                              285
Urban population living in areas where elevation is below 5 meters (% of total population)                                                       15
Urban poverty gap at national poverty lines (%)                                                                                                   3
Urban poverty headcount ratio at national poverty lines (% of urban population)                                                                   4
Use of IMF credit (DOD, current US$)                                                                                                             94
Use of insecticide-treated bed nets (% of under-5 population)                                                                                     4
Value lost due to electrical outages (% of sales for affected firms)                                                                              5
Vitamin A supplementation coverage rate (% of children ages 6-59 months)                                                                         17
Vulnerable employment, female (% of female employment) (modeled ILO estimate)                                                                   130
Vulnerable employment, male (% of male employment) (modeled ILO estimate)                                                                       130
Vulnerable employment, total (% of total employment) (modeled ILO estimate)                                                                     130
Wage and salaried workers, female (% of female employment)                                                                                      130
Wage and salaried workers, male (% of male employment)                                                                                          130
Wage and salaried workers, total (% of total employment)                                                                                        130
Wanted fertility rate (births per woman)                                                                                                          7
Water productivity, total (constant 2010 US$ GDP per cubic meter of total freshwater withdrawal)                                                 22
Wholesale price index (2010 = 100)                                                                                                               66
Women making their own informed decisions regarding sexual relations, contraceptive use and reproductive health care  (% of women age 15-49)      1
Women participating in the three decisions (own health care, major household purchases, and visiting family) (% of women age 15-49)               3
Women who believe a husband is justified in beating his wife (any of five reasons) (%)                                                            4
Women who believe a husband is justified in beating his wife when she argues with him (%)                                                         3
Women who believe a husband is justified in beating his wife when she burns the food (%)                                                          3
Women who believe a husband is justified in beating his wife when she goes out without telling him (%)                                            3
Women who believe a husband is justified in beating his wife when she neglects the children (%)                                                   3
Women who believe a husband is justified in beating his wife when she refuses sex with him (%)                                                    3
Women who were first married by age 18 (% of women ages 20-24)                                                                                    7
Women's share of population ages 15+ living with HIV (%)                                                                                         54
Length: 1559, dtype: int64

In [49]:
arr=[]
for i in short_reind.columns:
    n=short_reind[i].count
    #print('{} has {} non null'.format(i,n))
    arr.append(n)
print(np.array(arr))
short_reind.info()

[285 285 285 ... 285 285 285]
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 285 entries, (Benin, 1960) to (United States, 2016)
Columns: 1559 entries, 2005 PPP conversion factor, GDP (LCU per international $) to Women's share of population ages 15+ living with HIV (%)
dtypes: float64(1559)
memory usage: 3.4+ MB

In [33]:
for i in short_reind.columns:
    n=short_reind[i].count()
    if n>5000:
        print('{} has {} non null'.format(i,n))
    else:
        short_reind.drop(i, axis=1,inplace=True)

In [28]:
short_reind.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 285 entries, (Benin, 1960) to (United States, 2016)
Empty DataFrame